html{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
}
.header{
    height: 60px;
    padding: 20px;
    line-height: 60px;
    background-color: aquamarine;
}
h1{
    float: left;
    margin: 0px;
}
.navigation{
    float: right;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    
}
li{
    float: left;
    margin: 0px 0px 0px 20px;
}
li a{
    text-decoration: none;
}
.content{
    width: 70%;
    float: left;
    background-color: lightgray;
    min-height: 500px;
}
.sidebar{
    width: 30%;
    float: left;
    background-color: darkgrey;
    color: #ffffff;
    min-height: 500px;
}
p{
    margin: 20px;
}